<html id="html" class="dark">
  <head>
    
    <title> sogs </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {
            colors: {
              sessionGreen: '#00e97b',
              lightGray: '#585858',
              otherGray: '#272726'
            }
          },
          screens : {
            'xs'    : '365px',
            'sm'    : '640px',
            'md'    : '768px',
            'lg'    : '1024px',
            'xl'    : '1280px',
            '2xl'   : '1536px'
          }
        }
      }
    </script>

  </head>
  <body class="dark:bg-otherGray transition duration-500 h-full flex flex-col overflow-hidden">
    
    {% block modal %}
    {% endblock %}
    
    <!-- header / navbar -->
    <div class="px-2 sm:px-5 flex-none flex justify-between items-center w-full h-32 max-h-32 
    bg-sessionGreen dark:bg-otherGray border-b-2 border-black dark:border-lightGray transition duration-500">
      <div class="text-black text-center">
        <button>
          <a href="/">
            <h1 class="dark:text-white text-3xl xs:text-4xl sm:text-5xl decoration-black dark:decoration-white decoration-2">{% block heading %}{% endblock %}</h1>
            <p class="dark:text-sessionGreen text-lg xs:text-xl sm:text-2xl">Session Open Group Server</p>
          </a>
        </button>
      </div>
      
      <div class="flex space-x-4 ">
        {% block invite %}
        {% endblock %}
        <button id="moonIcon" class='px-1 rounded' onclick="toggleDarkMode()"><img src="{{ url_for('static', filename='moon-d-50-min.png') }}" alt="moon"></button>
        <button id="sunIcon" style="display: none;" class='px-1 rounded' onclick="toggleDarkMode()"><img src="{{ url_for('static', filename='sun-w-50-min.png') }}" alt="sun"></button>
      </div>
    </div>
    
    <!-- content/body -->
    {% block body %}
    {% endblock %}
  </body>
  <!-- dark mode toggle js -->
  <script>
      var htmlElement = document.getElementById("html");
      var moonIcon = document.getElementById("moonIcon");
      var sunIcon = document.getElementById("sunIcon");

      function setPageTheme(){
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          htmlElement.classList.add('dark')
          sunIcon.style.display = 'block'
          moonIcon.style.display = 'none'
        } else {
          htmlElement.classList.remove('dark')
          sunIcon.style.display = 'none'
          moonIcon.style.display = 'block'
        }
      }
      
      function toggleDarkMode(){
        if ('theme' in localStorage && localStorage.theme === 'light') {
          localStorage.theme = 'dark'
          setPageTheme();
        } else {
          localStorage.theme = 'light'
          setPageTheme();
        }
      }
      
      modal = document.getElementById('modal');
      function handleOpenModalClick() {
        modal.style.display = 'block';
      }

      function handleCloseModalClick() {
        modal.style.display = 'none';
      }

      setPageTheme();
  </script>
</html>
