{% extends "base.html" %}
{% block body %}

<div class="grid grid-cols-3 md:grid-cols-4 justify-items-center gap-y-5 gap-x-7 px-5 mx-16">
  {% for room in rooms %}
   {%for i in range(8)%}
    <a class="px-5 flex flex-col justify-center items-center transition duration-500 text-center
    w-full h-36 md:h-28 bg-sessionGreen hover:bg-black text-white text-6xl md:text-4xl border-8 border-black dark:border-sessionGreen rounded-full
    dark:bg-gray-500 dark:text-sessionGreen" href="/r/{{room.token}}">
    
      <p>{{room.token }}</p>
      <p class="text-3xl md:text-xl">{{room.active_users() }} Active User{{'s' if room.active_users() > 1}}</p>
      
      
    </a>
   {% endfor %}
  {% endfor %}
</div>

{% endblock %}
