{% extends "base.html" %}

<script>
  modal = document.getElementById('modal');
  function handleOpenModalClick() {
    modal.style.display = 'block';
  }
  
  function handleCloseModalClick() {
    modal.style.display = 'none';
  }
</script>

{% block modal %}
<div id="modal" style="display: none;" class="bg-black bg-opacity-80 w-screen h-screen absolute">
  <div onclick="handleCloseModalClick()" class="flex flex-col justify-center absolute bg-lightGray rounded-lg w-5/6 max-w-2xl aspect-square left-1/2 translate-x-[-50%] top-1/2 translate-y-[-50%] ">
    <div class="flex w-full justify-between ">
      <pre class="text-white break-all whitespace-normal m-2">{{room.url}}</pre>
      <button onclick="handleCloseModalClick()" class="text-white bold text-center rounded px-1 m-2 font-sans"> X</button>
    </div>
    <img class="aspect-square p-2" src="invite.png" />
  </div>
</div>

  
{% endblock %}

{% block heading %}
{{room.token}}
{% endblock %}

{% block invite %}
<div class=" h-28 flex flex-col justify-center ">
  <button onclick="handleOpenModalClick()" class="dark:text-white text-center text-xs sm:text-base">
    <img class="h-16 sm:h-20 sm:pt-2 aspect-square" src="invite.png" />
    Invite Link
  </button>
</div>

{% endblock %}


{% block body %}
  <!-- <button class="bg-black text-white dark:bg-sessionGreen dark:text-black rounded px-1 py-1 my-2" > <a href="/">< Back</a></button> -->

<section class="overflow-y-auto text-black dark:text-white flex flex-col-reverse ">
  {% if show_recent %}
    <div id="messages-container" class="m-5  flex flex-col-reverse " >
      <ul id="messages" class="m-2">
        <li>loading...</li>
      </ul>
    </div>
    <script>
      window.view_room = "{{room.token}}";
      window.poll_room_url = "/room/{{room.token}}/messages/recent";
    </script>
    <script src="/static/protobuf.min.js"></script>
    <script src="/static/view_room.js"></script>
  {%endif%}
</section>




{% endblock %}
