Source: session-pysogs
Section: python
Priority: optional
Maintainer: Jason Rhinelander <jason@oxen.io>
Build-Depends:
    debhelper-compat (= 11),
    dh-python,
    pybuild-plugin-pyproject,
    python3-all,
    python3-setuptools,
    protobuf-compiler,
    python3-flask,
    python3-coloredlogs,
    python3-cryptography,
    python3-nacl (>= 1.4.0),
    python3-pil,
    python3-protobuf,
    python3-qrencode,
    python3-oxenmq,
    python3-oxenc,
    python3-pyonionreq,
    python3-sqlalchemy,
    python3-sqlalchemy-utils
Standards-Version: 4.1.3
Homepage: https://oxen.io

Package: python3-sogs
Architecture: all
Depends:
    uwsgi,
    uwsgi-plugin-python3,
    python3-uwsgidecorators,
    python3-flask,
    python3-coloredlogs,
    python3-cryptography,
    python3-nacl (>= 1.4.0),
    python3-pil,
    python3-protobuf,
    python3-openssl,
    python3-qrencode,
    python3-oxenmq,
    python3-oxenc,
    python3-pyonionreq,
    python3-sqlalchemy,
    python3-sqlalchemy-utils,
    ${python3:Depends},
    ${misc:Depends}
Recommends:
    python3-better-profanity
Description: Session Open Group Server (base files)
 This package contains the basic Python3 module implementing a Session Open
 Group Server, without any service configuration.  Using the package alone
 requires extra configuration (for example using uwsgi vassals or some other
 uwsgi configuration).  For typical setups you want to install the
 sogs-standalone or sogs-proxied package (which depend on this one, and provide
 configuration).

Package: sogs-standalone
Section: net
Architecture: all
Depends:
    python3-sogs (= ${binary:Version}),
    debconf,
    ${misc:Depends}
Description: Session Open Group Server (standalone)
 This package sets up a standalone Session open group server that listens on
 port 80, suitable for simple installations where SOGS is the only service
 listening on port 80.
 .
 For more advanced configurations see the sogs-proxied package, or use the
 python3-sogs package with manual configuration.
Replaces: session-open-group-server
Breaks: session-open-group-server
Conflicts: sogs-proxied

Package: sogs-proxied
Section: net
Architecture: all
Depends:
    python3-sogs (= ${binary:Version}),
    ${misc:Depends}
Description: Session Open Group Server (proxied configuration)
 This package sets up a Session open group server listening (by default) on
 127.3.2.1:4242 that expects to have requests proxied to it from a reverse
 proxy such as nginx or apache2.
Recommends: nginx | apache2
Replaces: session-open-group-server
Breaks: session-open-group-server
Conflicts: sogs-standalone
