#!/bin/sh -e

. /usr/share/debconf/confmodule

URL_REGEX="^http://([a-zA-Z0-9-]+\.)+[a-zA-Z0-9-]+(:[0-9]+)?$"

# If switching from the proxied package then url might already be set and we *might* be able to use
# it as a default (if not https).
if ! db_get session-pysogs/url-http && db_get session-pysogs/url; then
    if echo "$RET" | grep -qE "$URL_REGEX"; then
        db_set session-pysogs/url-http "$RET"
    fi
fi

while true; do
    db_input high session-pysogs/url-http || true
    db_go
    db_get session-pysogs/url-http
    URL="$RET"

    if echo "$URL" | grep -qE "$URL_REGEX"; then
        break
    else
        rc=0
        db_input high session-pysogs/url-invalid || rc=$?
        if [ "$rc" = "30" ]; then
            # User isn't seeing our message so just leave it empty
            break
        fi
        db_go
        db_get session-pysogs/url-invalid
        RETRY="$RET"
        db_reset session-pysogs/url-invalid
        db_reset session-pysogs/url-http
        if [ "$RETRY" != "true" ]; then
            break
        fi
    fi
done
