#!/bin/sh -e

. /usr/share/debconf/confmodule

URL_REGEX="^https?://([a-zA-Z0-9-]+\.)+[a-zA-Z0-9-]+(:[0-9]+)?$"

# If switching from the standalone package then url_http might already be set and we can use it as a
# reasonable default.
if ! db_get session-pysogs/url && db_get session-pysogs/url_http; then
    if echo "$RET" | grep -qE "$URL_REGEX"; then
        db_set session-pysogs/url "$RET"
    fi
fi

while true; do
    db_input critical session-pysogs/url || true
    db_go
    db_get session-pysogs/url
    URL="$RET"

    if echo "$URL" | grep -qE "$URL_REGEX"; then
        break
    else
        rc=0
        db_input critical session-pysogs/url-invalid || rc=$?
        if [ "$rc" == "30" ]; then
            # User isn't seeing our messages so just set example.net because we need *something* for
            # this to work.
            db_set session-pysogs/url-invalid "http://example.net"
            break
        fi
        db_go
        db_get session-pysogs/url-invalid
        RETRY="$RET"
        db_reset session-pysogs/url-invalid
        db_reset session-pysogs/url
        if [ "$RETRY" != "true" ]; then
            exit 1
        fi
    fi
done

db_input high session-pysogs/activate-http-config || true
db_go
