name: Check build, run tests & check formatting

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Prepare
      run: |
        openssl genpkey -algorithm x25519 -out x25519_private_key.pem
        openssl pkey -in x25519_private_key.pem -pubout -out x25519_public_key.pem
    - name: Check build
      run: cargo check --verbose --release
    - name: Run tests
      run: cargo test --verbose
    - name: Check formatting
      run: cargo fmt -- --check
